<div class='container'>
	<div class='row'>
		<div class='col-sm-1'></div>
		<div class='col-sm-10'>
			<div class="slideanim">
				<h1 class="cv">Personal data</h1>
				<div class='jumbotron about-me ' id="personalData">
					<div class='row'>
						<div class='col-sm-5'>Name and surname:</div>
						<div class='col-sm-7'>Marcin Zabadaj</div>
					</div>
					<div class='row'>
						<div class='col-sm-5'>Date of birth:</div>
						<div class='col-sm-7'>11.12.1991</div>
					</div>
					<div class='row'>
						<div class='col-sm-5'>Adress:</div>
						<div class='col-sm-7'>Tatrzańska 7A, 00-742, Warsaw</div>
					</div>
					<div class='row'>
						<div class='col-sm-5'>e-mail:</div>
						<div class='col-sm-7'>zabadajmarcin@gmail.com</div>
					</div>
				</div>
			</div>

			<div class="slideanim">
				<h1 class="cv">Education</h1>
				<div class='jumbotron about-me' id='education'>
					<div class='row'>
						<div class='col-sm-5'>X 2015 - now</div>
						<div class='col-sm-7'>
							<b>Warsaw University of Technology, Chemistry Department</b> Ph.
							D. study
						</div>
					</div>
					<div class='row'>
						<div class='col-sm-5'>II 2014 - VI 2016</div>
						<div class='col-sm-7'>
							<b>Warsaw University of Technology, Chemistry Department</b>
							Field of study: Chemical Technology (specialization: Analytical
							Chemistry)
						</div>
					</div>
					<div class='row'>
						<div class='col-sm-5'>X 2010 - II 2014</div>
						<div class='col-sm-7'>
							<b>Warsaw University of Technology, Chemistry Department</b>
							Obtained a degree in engineering
						</div>
					</div>
				</div>
			</div>

			<div class="slideanim">
				<h1 class="cv">Experience</h1>
				<div class='jumbotron about-me' id='experience'>
					<div class='row'>
						<div class='col-sm-5'>X 2015 - XII 2017</div>
						<div class='col-sm-7'>
							Participation in the research grant <i>(Bio)electrochemical
								imaging for cellular microphysiometry.</i>
						</div>
					</div>
					<div class='row'>
						<div class='col-sm-5'>03.2014 - 12.2015</div>
						<div class='col-sm-7'>
							Participation in the research grant <i>Potentiometric sensor
								array to study the release of active pharmaceuticals ingredients
								and auxiliares.</i>
						</div>
					</div>
					<div class='row'>
						<div class='col-sm-5'>VI-IX 2013, VII-VIII 2014, I-III 2015</div>
						<div class='col-sm-7'>
							VBA Developer Intern in <i>Anpharm Pharmaceutical Enterprise</i>
						</div>
					</div>
				</div>
			</div>

			<div class="slideanim">
				<h1 class="cv">Computer skills</h1>
				<div class='jumbotron about-me' id='skills'>
					<ul>
						<li>Backend: Java 8, Spring Boot, Spring Security, JPA,
							Hibernate</li>
						<li>Frontend: HTML 5, CSS 3, Bootstrap, AngularJS</li>
						<li>Databases: Postgres, MS Access</li>
						<li>Operating systems: Windows, Linux</li>
						<li>Version control system: Git</li>
						<li>IDE: STS, Eclipse</li>
						<li>Spreadsheets: Excel + VBA</li>
						<li>Text processing: Microsoft Word</li>
					</ul>
				</div>
			</div>

			<div class="slideanim">
				<h1 class="cv">Languages spoken</h1>
				<div class='jumbotron about-me' id='languages'>
					<ul>
						<li>English (intermediate)</li>
					</ul>
				</div>
			</div>

			<div class="slideanim">
				<h1 class="cv">Other</h1>
				<div class='jumbotron about-me' id='other'>
					<ul>
						<li>Driving licence category B</li>
						<li><a href="https://pl.linkedin.com/in/marcin-zabadaj">Link
								to profile on LinkedIn</a></li>
						<li><a href="https://github.com/Marcin1112">Link to
								profile on GitHub</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>