<div class='container'>
	<div class='row'>
		<div class='col-sm-1'></div>
		<div class='col-sm-10'>
			<div class='jumbotron'>
				<div class='row'>
					<div class='col-sm-4'>
						<img th:src="@{/photos/Marcin_Zabadaj.jpg}" width="200px"
							height="284px" class="img-rounded" />
					</div>
					<div class='col-sm-8'>
						<p align='justify'>I received engineering degree from Warsaw
							University of Technology in 2014 and M. Sc. degree in 2015. Now I
							am Ph.D. student in Departmentof Microbioanalytics, WUT. My work
							involves design and construction of electrochemical sensor arrays
							for the recognition and classification of pharmaceutical and
							biological samples. My current interests are focused on
							Salesforce Platform development using Apex, Visualforce and
							custom Lightning Components.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br />