<div class='container'>
	<div class='row'>
		<div class='col-sm-1'></div>
		<div class='col-sm-10'>
			<h1>List of my publications</h1>
			<div class='jumbotron about-me publications'>
				<ul>
					<li>M Zabadaj, A Szuplewska, D Kalinowska, M Chudy, P
						Ciosek-Skibińska. <b><i>Studying pharmacodynamic effects
								in cell cultures by chemical fingerprinting − SIA electronic
								tongue versus 2D fluorescence soft sensor. </i></b>Sensors and Actuators
						B: Chemical (2018) 272. 264-273 <a
						href="https://www.sciencedirect.com/science/article/pii/S0925400518310463"
						class='link1'></br>Link to publication</a>
					</li>
					<li>M Wesoły, M Zabadaj, K Cal, P Ciosek-Skibińska, W
						Wróblewski. <b><i>Dissolution studies of metamizole sodium
								and pseudoephedrine sulphate dosage forms − comparison and
								correlation of electronic tongue results with reference studies.
						</i></b>Journal of Pharmaceutical and Biomedical Analysis (2018) 149.
						242–248 <a
						href="http://www.sciencedirect.com/science/article/pii/S0731708517317818?via%3Dihub"
						class='link1'></br>Link to publication</a>
					</li>
					<li>M Zabadaj, I Ufnalska, K Chreptowicz, J Mierzejewska, W
						Wróblewski, P Ciosek-Skibińska. <b><i>Performance of
								hybrid electronic tongue and HPLC coupled with chemometric
								analysis for the monitoring of yeast biotransformation. </i></b>Chemometrics
						and Intelligent Laboratory Systems (2017) 167. 69–77 <a
						href="http://www.sciencedirect.com/science/article/pii/S0169743916304567"
						class='link1'></br>Link to publication</a>
					</li>
					<li>M Zabadaj, K Chreptowicz, J Mierzejewska, P Ciosek. <b><i>Two-dimensional
								fluorescence as soft sensor in the monitoring of
								biotransformation performed by yeast. </i></b>Biotechnology Progress
						(2017) 33. 2 299-307 <a
						href="http://onlinelibrary.wiley.com/doi/10.1002/btpr.2381/abstract?lipi=urn:li:page:d_flagship3_profile_view_base&f2eeq1BNTYS3LMPkLMPpMA=="
						class='link1'></br>Link to publication</a>
					</li>
					<li>M Wesoły, M Zabadaj, A Amelianb, K Winnicka, W Wróblewski,
						P Ciosek. <b><i>Tasting cetirizine-based microspheres with
								an electronic tongue. </i></b>Sensors and Actuators B (2017) 238.
						1190–1198 <a
						href="http://www.sciencedirect.com/science/article/pii/S0925400516310097?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3Bf2eeq1BNTYS3LMPkLMPpMA%3D%3D"
						class='link1'></br>Link to publication</a>
					</li>
					<li>M Pein, D Kirsanov, P Ciosek, M del Valle, I Yaroshenko, M
						Wesoły, M Zabadaj, A Gonzalez-Calabuig, W Wróblewski, A Legin. <b><i>Independent
								comparison study of six different electronic tongues applied for
								parmaceutical analysis. </i></b>Journal of Pharmaceutical and biomedical
						analysis (2015) 114. 321-329 <a
						href="http://www.sciencedirect.com/science/article/pii/S0731708515300078"
						class='link1'></br>Link to publication</a>
					</li>
					<li>P Ciosek, M Wesoły, M Zabadaj, J Lisiecka, K Sołłohub, K
						Cal, W Wróblewski. <b><i>Towards flow-through/flow
								injection electronic tongue for the analysis of pharmaceuticals.
						</i></b>Sensors and Actuators B-Chemical (2015) 207. 1087-1094 <a
						href="http://www.sciencedirect.com/science/article/pii/S0925400514008703"
						class='link1'></br>Link to publication</a>
					</li>
					<li>I Ufnalska, M Wiloch, M Wesoły, P Ćwik, M Zabadaj, P
						Ciosek, U Wawrzyniak, W Wróblewski. <b><i>Electrochemical
								methods in bioanalytics - selected aspects. </i></b>Wiadomości Chemiczne
						(2015) 69. 931-946 <a
						href="http://www.dbc.wroc.pl/dlibra/publication?id=29422&tab=3"
						class='link1'></br>Link to publication</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>